.App {
  align-items: center;
  background-color: #222831;
  color: #ececec;
  display: flex;
  font-size: 1.5em;
  height: 100vh;
  justify-content: center;
  text-align: center;
  user-select: none;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.timer-wrapper {
  align-items: center;
  border-radius: 100%;
  border: 6px solid #9e3f3f;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  margin-bottom: 18px;
  width: 300px;
}

#time-left {
  font-size: 2.5em;
  font-weight: 600;
}

.time-controls-wrapper {
  display: flex;
  font-size: 3em;
}

.time-setters-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.time-setter {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.time-setter-icon {
  font-size: 2em;
}

.button:hover {
  cursor: pointer;
}
